
<div class="jumbotron">
  <h1><%= image_tag 'Kii.svg' %></h1>
  <p>Lorem ipsum dolor amet truffaut photo booth forage cray, la croix gochujang helvetica keytar. Hashtag meditation ennui narwhal, everyday carry leggings distillery migas tousled snackwave gentrify. Lumbersexual irony roof party, single-origin coffee asymmetrical crucifix shaman unicorn letterpress heirloom chartreuse man braid pabst. Hashtag gochujang bicycle rights lo-fi listicle edison bulb tumeric butcher blog cred DIY polaroid bushwick. Prism put a bird on it kale chips iceland fingerstache thundercats banh mi migas williamsburg tumeric shoreditch austin.</p>
  <br>
  <br>
  <div class="pull-left"><%= link_to '', "https://github.com/JusticeA/", class: "fab fa-github-alt" %></div>
  <div class="pull-right"> <%= link_to '', "https://www.linkedin.com/in/kidochukwu-atube", class: "fab fa-linkedin-in" %></div>
</div>
<br>
<br>
<br>
<br>
<br>



